body {  
    margin: 0;
    background-color: bisque;
    overflow: hidden;
    
}

*, *:before, *:after {
    font-family: 'Belanosima', sans-serif;
    box-sizing: border-box;
}
.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 66vh;
}

.splash-titolo {
    font-family: 'Belanosima', sans-serif;   
    font-size: 10rem;
}

.btn{
    background-color: hsl(40,100%,50%);
    padding: .5em 1em;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: .7em;
    color: #333;

}

.nave{
    position:absolute;
   
    transform: rotateY(180deg);
    pointer-events: none;
    opacity: .20;
    margin-top: 0px;
    margin-bottom: 250px;
    margin-left: 100px;
    margin-right: 100px;
    
}

.splash-btn {
    font-size: 2rem;
    margin-left: 2rem;
    color: aliceblue;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
    -webkit-transition-property: box-shadow, transform;
}


.splash-btn:first-child{
    margin-left: 0;
}

.splash-btn:first-child {
    margin-left: 0;
}

.btn:hover, .btn:focus, .btn:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.container {
    display: flex;
    justify-content: center;
    width: 100%;

}
#gamesboard-container{
    
    display: flex;
}
  
  .game-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 300px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right: 20px; /* Aggiungi lo spazio tra le griglie */
  }
  
  .cell {
    border: 0.2px solid rgba(0, 0, 0, 0.12);
  }
  

.option-container {
    width: 300px;
    height: 150px;
    margin: 30px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid #2196f3;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
.option-container:hover{
    box-shadow: 0 0 10px rgba(0, 145, 255, 0.26);
}

.option-container .rotated {
    transform: rotate(90deg);
  }

.nave1-preview{
    background-color: firebrick;
    width: 20px;
    height: 10px;
    margin: 3px;
}
.nave1-preview:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nave2-preview{
    background-color: red;
    width: 30px;
    height: 10px;
    margin: 3px;
    display: flex;
}
.nave2-preview:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nave3-preview{
    background-color: chocolate;
    width: 40px;
    height: 10px;
    margin: 3px;
}
.nave3-preview:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nave4-preview{
    background-color: crimson;
    width: 50px;
    height: 10px;
    margin: 3px;
}
.nave4-preview:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nave5-preview{
    background-color: darkorange;
    width: 50px;
    height: 10px;
    margin: 3px;
}
.nave5-preview:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
