body {  
    margin: 0;
    background-color: bisque;
    overflow: hidden;
    
}

*, *:before, *:after {
    font-family: 'Belanosima', sans-serif;
    box-sizing: border-box;
}
.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 66vh;
}

.splash-titolo {
    font-family: 'Belanosima', sans-serif;   
    font-size: 10rem;
}

.btn{
    background-color: hsl(40,100%,50%);
    padding: .5em 1em;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: .7em;
    color: #333;

}


.splash-btn {
    font-size: 2rem;
    margin-left: 2rem;
    color: aliceblue;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
    -webkit-transition-property: box-shadow, transform;
}


.splash-btn:first-child{
    margin-left: 0;
}

.splash-btn:first-child {
    margin-left: 0;
}

.btn:hover, .btn:focus, .btn:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.navi{
    position:absolute;
   
    transform: rotateY(180deg);
    pointer-events: none;
    opacity: .20;
    margin-top: 0px;
    margin-bottom: 250px;
    margin-left: 100px;
    margin-right: 100px;
    
}


.container {
    display: flex;
  }
  
  .griglia-user {
    width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
  margin: 20px;
  }
  
  .griglia div {
    width: 40px;
  height: 40px;
  }
  
  .griglia-computer {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    margin: 20px;
    
  }
  
  .griglia-display {
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: yellow;


   /* width: 400px;
    height: 400px;
    margin: 20px;
    background-color: #eeeeee;
    border: 2px solid #0798ff;  Colore bordo giallo 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra 
    transition: box-shadow 0.3s ease; /* Effetto transizione ombra */
  
    /* Effetto ombra al passaggio del mouse 
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }*/
  }
  .naveuno-container {
    width: 80px;
    height: 40px;
    background-color: orange;
    margin: 10px;
    display: flex;
  }
  
  .naveuno-container-vertical {
    width: 40px;
    height: 80px;
    background-color: orange;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .navedue-container {
    width: 120px;
    height: 40px;
    background-color: pink;
    margin: 10px;
    display: flex;
  }
  
  .navedue-container-vertical {
    width: 40px;
    height: 120px;
    background-color: pink;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .navetre-container {
    width: 120px;
    height: 40px;
    background-color:purple;  
    margin: 10px;
    display: flex;
  }
  
  .navetre-container-vertical {
    width: 40px;
    height: 120px;
    background-color: purple;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .navequattro-container {
    width: 160px;
    height: 40px;
    background-color:aqua;
    margin: 10px;
    display: flex;
  }
  
  .navequattro-container-vertical {
    width: 40px;
    height: 160px;
    background-color: aqua;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .navecinque-container {
    width: 200px;
    height: 40px;
    background-color: green;
    margin: 10px;
    display: flex;
  }
  
  .navecinque-container-vertical {
    width: 40px;
    height: 200px;
    background-color: green;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .nave div {
    width: 40px;
    height: 40px;
  }
  
  .naveuno {
    background-color: orange;
  }
  
  .navedue {
    background-color: pink;
  }
  
  .navetre {
    background-color:purple;
  }
  
  .navequattro {
    background-color: aqua;
  }
  
  .navecinque {
    background-color: green;
    
  }
  
  .boom {
    background-color: red;
  
  }
  
  
  .miss {
    background-color: black;
  }
  